.add-table_input {
    display: none;
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all linear 0.3s;
}

.main-form {
    position: fixed;
    z-index: 1;
    display: none;
    width: 360px;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.add-table_input:checked ~ .overlay {
    display: block;
    opacity: 1;
    transition: all linear 0.3s;
}

.add-table_input:checked ~ .main-form {
    display: block;
    opacity: 1;
}